body {
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
}

input {
    font-family: 'Montserrat';
    display: inline-block;
    font-size: 1.1rem;
}
  

.survey-toolbar {
    padding: 1rem;
}

.pad-3-rem {
    padding: 3rem;
}

.pad-1-rem {
    padding: 1rem;
}

.strong-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
}

.survey-section-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

/* Text box for new question */
#new-question-input {
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 10px;
    width: 90%;
}

.text-box-container {
    width: 96%;
    margin: 2%;
}

.new-question-container {
    width: 90%;
    margin: 5%;
}

/* Container for Displaying the question type*/
#question-type-container{
    width: 96%;
    margin: 2%;
    /* padding: 0.75em; */
}

/* exper */
.outer-question-box {
    /* border: 1px solid #000; */
    display:flex;
    width: 96%;
    margin: 2%;
    justify-content: center;
}

.outer-question-box > div {
    /* border: 1px solid #000; */
    margin: 2px;
}

.tick-icon-frame {
    position: relative;
    width: 50px;
}

.tick-icon {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;    
}

.new-question-box {
    height: 80px;
    width: 100%;
    float: left;
    border-radius: 10px;
}

.text-area-style {
    border: 2px solid #765942;
    border-radius: 10px;
    width: 100%;
    /* padding: 1rem; */
    /* margin: 5%; */
}

.small-text-box {
    height: 75px;
}

.large-text-box {
    height: 150px;
}



.pad-1 {
    padding: 1rem;
}

.survey-toolbar-icon {
    cursor: pointer;
}

.add-btn-symbol {
    cursor: pointer;
}

.pad-top-10 {
    padding-top: 10%;
}

.botao-purple {
    font-family: 'Montserrat';
    font-style: normal;
    display: inline-block;
    background-color: #dec3ff;
    color: #333;
    /* margin-left: 50%; */
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    /* margin: 0.5rem; */
    transition: opacity 0.2s ease-in;
    outline: none;
    border-radius: 5px;
}

.botao-purple:hover {
    background-color: #6900EA;
    color: #fff;
}

.center-children {
    text-align: center
}

.container-researcher-main {
    height: 160px;
    width: 80%;
    /* If margin has two values, the first value applies to top and bottom; the second value applies to left and right */
    margin: 2% 10%;
}

.researcher-left, .researcher-right {
    float: left;
    box-sizing: border-box;

    /* margin: 1%;
    padding: 10px; */
}

.researcher-left {
    width: 58%;
    height: 70%;
}

/* researcher-right is the div that contains the queston toolbar */
.researcher-right {
    width: 38%;
    border-style: solid;
    border-width: 1px;
}

.horizontal-text-center {
    text-align: center;
}

.all-capitals {
    text-transform: uppercase;
}

.circle-pagination-button {
    cursor: pointer;
}

/* ToolbarItem */

.toolbar-item-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #000000;
    padding: 1rem 2rem;
    font-size: 18px;
    line-height: 18px;
    background-color: #EEE5E5;
}

/* When section is hovered over, the font color turns purple */
.toolbar-item-heading:hover {
    cursor: pointer;
    background-color: rgba(105, 0, 234, 0.15);
}


/* Section navbar has gray background */
.section-nav {
    background-color: #E5E5E5;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.section-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    padding: 0rem 0.5rem;
    font-size: 18px;
    line-height: 22px;
}

.padding-left {
    padding-left: 2rem;
}

/* When section is hovered over, the font color turns purple */
.section-heading:hover {
    color: #6900EA;
    cursor: pointer;
}

.display-flex {
    display: flex;
}

/* Style the form - display items horizontally */
.form-inline {
    align-items: center;
    display: inline-block;
}
  
/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

.new-section-input {
    height: 20px;
    border: 3px solid #ddd;
    border-radius: 10%;
    margin-top: 20px;
}


/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 5%;
}
  



/* Question Types */
  /* The container */
.container-for-scale-question {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-for-scale-question input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
 .container-for-scale-question:hover input ~ .checkmark {
    background: #6900EA;
  }
  
  /* When the radio button is checked, add a blue background */
 .container-for-scale-question input:checked ~ .checkmark {
    background: #6900EA;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-for-scale-question input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  /* The top, left, width and height should be equal to the height and width of the checkmark */
  .container-for-scale-question .checkmark:after {
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
  }


  /* Header with logo */

  /* Purple Text for Header */
.purple-uxd {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 22px;
    color: #6900EA;
    text-align: center;
    padding: 0.25rem;
}


.question-text {
    font-style: normal;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
}


.all-caps {
    text-transform: uppercase;
}

.mar-x-1 {
    margin: 0rem 1rem;
}

#create-survey-form {
    height: 70%;
}